<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ga Deco - Aplicativo</title>

    <!-- favicon-->
    <link rel="icon" href="/app/img/favicon.ico"> 

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/app/css/app.css">

    <!--Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<header>
    <p><a href="/" class="btn btn-light btn-sm"><span class="material-icons">person_outline</span>  SAIR</a></p>
</header>

<div class="container-fuild">
    <div class="row">
            <div class="col-sm-2">
            <div class="menu">
                <img class="menu-logo" src="/app/img/logo.png">
                <p>MAIN NAVIGATION</p>
                <ul class="list-group">
                    <li><span class="material-icons">shopping_cart</span> Artigos</li>
                    <ul class="sub-menu">
                        <li><a href="/aplicativo/article/list" class="btn btn-outline-secondary btn-block">Visualizar</a></li>
                        <li><a href="/aplicativo/article/add" class="btn btn-outline-secondary btn-block">Adicionar</a></li>
                    </ul>
                    <li><span class="material-icons">cake</span> Eventos</li>
                    <ul class="sub-menu">
                        <li><a href="/aplicativo/event/list" class="btn btn-outline-secondary btn-block">Visualizar</a></li>
                        <li><a href="/aplicativo/event/add" class="btn btn-outline-secondary btn-block">Adicionar</a></li>
                    </ul>
                </ul>
            </div><!--./menu-->
            </div><!--./col-sm-2-->
            
            <div class="col-sm-10">
                <div class="appframe">
                    {{{body}}}
                </div><!--./appframe-->
            </div><!--./col-sm-10-->
    </div><!--./row-->
</div>

<footer>
    <p>GA Deco 2020 - Todos os direitos reservados </p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $('.articleRemove').click(function(){

        let idArticle = $(this).attr('id');
        console.log('Id: ' + idArticle);

        $.ajax({
            url: '/aplicativo/article/detail/' + idArticle,
            type: 'get',
        })
        .done(function(res){
            console.log(res[0].name)
            $('#deleteArticle #name').val(res[0].name);
            $('#deleteArticle #acquisition').val(res[0].acquisition);
            $('#deleteArticle #paid').val(res[0].paid);
            $('#deleteArticle #description').val(res[0].description);
            $('#deleteArticle #idArticle').val(res[0].id);
        })
        .fail(function(res){
            console.log('Não foi possível recuperar o elemento' + res)
        })
    })

    $('#yesExcluirArticle').click(function(){

        // by clicking send destroy the buttons
        $('.modal-footer').html("<button type='button' class='close btn-exit-Modal' data-dismiss='modal' aria-label='Close'>Sair</button>");

        let idArticle = $('#idArticle').val();

        $.ajax({
            url: '/aplicativo/article/delete',
            type: 'post',
            data: {
                id: idArticle,
            },
        })
        .done(function(res){
            $('.respostServen').html("<span class='text-primary'><span class='material-icons'>check_circle_outline</span> Excluído com sucesso</span>");
        })
        .fail(function(res){
            $('.respostServen').html("<span class='text-warning'><span class='material-icons'>error_outline</span> Não foi possível excluir: </span>");
        })

        // Refrash page after close modal
        $('#deleteArticle').on('hidden.bs.modal', function (e) {
            document.location.reload();
        })
    })
</script>
</body>
</html>