<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ga Deco - Aplicativo</title>

    <!-- favicon-->
    <link rel="icon" href="/app/img/favicon.ico"> 

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/app/css/app.css">

    <!--Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<header>
    <p><a href="/" class="btn btn-light btn-sm"><span class="material-icons">person_outline</span>  SAIR</a></p>
</header>

<div class="container-fuild">
    <div class="row">
            <div class="col-sm-2">
            <div class="menu">
                <img class="menu-logo" src="/app/img/logo.png">
                <p>MAIN NAVIGATION</p>
                <ul class="list-group">
                    <li><span class="material-icons">shopping_cart</span> Artigos</li>
                    <ul class="sub-menu">
                        <li><a href="/aplicativo/article/list" class="btn btn-primary">Visualizar</a></li>
                        <li><a href="/aplicativo/article/add" class="btn btn-primary">Adicionar</a></li>
                    </ul>
                    <li><span class="material-icons">cake</span> Eventos</li>
                    <ul class="sub-menu">
                        <li>Visualizar</li>
                        <li>Adicionar</li>
                        <li>Atualizar</li>
                        <li>Remover</li>
                    </ul>
                    <li><span class="material-icons">flaky</span> Contratos</li>
                    <ul class="sub-menu">
                        <li>Visualizar</li>
                        <li>Adicionar</li>
                        <li>Atualizar</li>
                        <li>Remover</li>
                    </ul>
                </ul>
            </div><!--./menu-->
            </div><!--./col-sm-2-->
            
            <div class="col-sm-10">
                <div class="appframe">
                    {{{body}}}
                </div><!--./appframe-->
            </div><!--./col-sm-10-->
    </div><!--./row-->
</div>

<footer>
    <p>GA Deco 2020 - Todos os direitos reservados </p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha38
</body>
</html>