<div class="container">
<h2>Adicionar artigos</h2>
<form action="/aplicativo/article/add" method="POST">
<div class="form-group">
    <label for="Nome">Nome:</label>
    <input type="input" class="form-control" id="name" placeholder="Nome do artigo" name="name">
</div>
<div class="form-group">
    <label for="acquisition">Data de compra:</label>
    <input type="date" class="form-control" id="acquisition" placeholder="Data" name="acquisition">
</div>
<div class="form-group">
    <label for="paid">Valor R$:</label>
    <input type="input" class="form-control" id="paid" placeholder="R$ 00.00" name="paid">
</div>
<div class="form-group">
    <label for="description">Descrição:</label>
    <textarea class="form-control" id="description" placeholder="Descrição" name="description"></textarea>
</div>
<button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
