<div class="row">
<div class="col-sm">
<div class="container">
<h4 class="form-title">Criar evento</h4>
<form action="/aplicativo/event/add" method="POST">
<div class="form-group">
    <label for="Nome">Data do evento:</label>
    <input type="date" class="form-control" id="date" placeholder="Data do evento" name="date" required>
</div>
<div class="form-group">
    <label for="Nome">Endereço:</label>
    <input type="input" class="form-control" id="address" placeholder="Endereço: " name="address" required>
</div>
<div class="form-group">
    <label for="Nome">Cliente:</label>
    <input type="input" class="form-control" id="client" placeholder="Cliente: " name="client" required>
</div>
<input type="hidden" name="_csrf" value="{{_csrfToken}}">
<button type="submit" class="btn btn-success">Criar Evento</button>
</form>
</div>
</div><!--./col-sm-->

<div class="col-sm">
<div class="container">
    {{> calendar}}
</div>
</div><!--./col-sm-->
</div>