<div class="container">
    <h4><span class="idEvent" id="{{idEvent}}"></span> Contrato <span class="badge badge-warning">evento</span>: </h4>
    <table class="table contract-event">
    <thead class="thead-light">
      <tr>
        <th>Data do Evento</th>
        <th>Endereço</th>
        <th>Cliente</th>
        <th>Criação</th>
        <th>Última atualização</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<div class="container">
  <h4>Artigos para esse evento</h4>      
  <table class="table contract-article">
    <thead class="thead-light">
      <tr>
        <th>Nome</th>
        <th>Data de compra</th>
        <th>Valor Pago</th>
        <th>Descrição</th>
        <th>Valor Cobrado</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


