<div class="container">
  <h4>Visualize, atualize ou remova os eventos</h4>      
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Data do Evento</th>
        <th>Endereço</th>
        <th>Cliente</th>
        <th>Última atualização</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
        {{#each events }}
        <tr>
            <td>
              {{dataValues.date}}
              {{#if @first}}
               <span class="badge badge-pill badge-success">Last</span>
              {{/if}}
            </td>
            <td>{{dataValues.address}}</td>
            <td>{{dataValues.client}}</td>
            <td>{{dataValues.updatedAt}}</td>
            <td class="list-action">
                <a href="#"><span class="material-icons" title="Editar">edit</span></a>
                <a href="#"><span class="material-icons" title="Remover">remove_circle_outline</span></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
  </table>
</div>