<div class="container container-gadget">
<div class="row">
<div class="col-sm">
    <div class="gadgetHome">
        <span class="material-icons">monetization_on</span><span class="gadget-value gadget-investment"></span>
        <span class="gadget-text">Investimento</span>
    </div>
</div><!--./col-sm-->
<div class="col-sm">
    <div class="gadgetHome">
        <span class="material-icons text-success">next_plan</span><span class="gadget-value gadget-returnInvest"></span>
        <span class="gadget-text">Retorno</span>
    </div>
</div><!--./col-sm-->
<div class="col-sm">
    <div class="gadgetHome">
        <span class="material-icons">cake</span><span class="gadget-value gadget-totalEvent"></span>
        <span class="gadget-text">Eventos</span>
    </div>
</div><!--./col-sm-->
<div class="col-sm">
    <div class="gadgetHome">
        <span class="material-icons text-warning">shopping_cart</span><span class="gadget-value gadget-totalArticle"></span>
        <span class="gadget-text">Artigos</span>
    </div>
</div><!--./col-sm-->
<div class="col-sm">
    <div class="gadgetHome">
        <span class="material-icons text-danger">monetization_on</span><span class="gadget-value gadget-maxContract"></span>
        <span class="gadget-text">Max. aluguel</span>
    </div>
</div><!--./col-sm-->
</div><!--./row-->
</div>

<div class="col-sm">
<div class="container">
    {{> lastRent}}
</div>
</div><!--./col-sm-->