<div class="container-fuild about-message title-phrase">
    <p>Nós somos alunos da Engenharia: </p>
    <ul>
        <li>GABRIEL JORGE DA CRUZ, RA:1700145</li>
        <li>MARCIANA DE ALCÂNTARA MENDES, RA: 1715012</li>
        <li>MIKYCHARDO FERNANDES DA SILVA, RA:1712640</li>
        <li>ROMÁRIO DE MELO DAMASCENO, RA: 1713649</li>
    </ul>
    <p> Amamos tecnologia, gostamos de encarar desafios e além de sonhamos com um futuro melhor, estudamos e trabalhamos firme para darmos nossa contribuição.  ❤</p>
    <p>Aplicativo desenvolvido para PROJETO INTEGRADOR PARA ENG. DE COMPUTAÇÃO VI - 7° Semestre - UNIVESP. Agradecimetos: pela valiosas orientacões <code>Andrea Camila dos Santos Martins - Citação sem ABNT :)</code></p>
    <a href="/" class="btn btn-primary">Voltar ao início</a>
</div>