<div class="container-fuild welcome-message">
    <div class="title-phrase">
        <h1>Uma nova maneira, super fácil, de fazer a gestão dos alugueis e a gestão de sua empresa </h1>
        <a class="btn btn-primary" href="/aplicativo">Começar agora</a>
    </div>
</div>