body
{
    background-color: #f1f1f1;
}
header
{
    height: 47px;
    background-color: black;
}
header p
{
    padding-top: 7px;
    margin-right: 50px;
    text-align: right;
}
header .material-icons
{
    font-size: 15px;
}

/* Menu */
.menu
{
    border-radius: 0px;
    background-color: #333333;
    color: white;
    border-right: 1px solid white;
    box-shadow: 2px 5px whitesmoke;
    margin-right: -30px;
    padding-right: -10px;

    height: 650px;
}
.menu-logo
{
    padding-top: 30px;
    padding-left: 10px;
    width: 184px;
}
.list-group
{
    margin-left: 10px;
    list-style-type: none;
    font-size: 14px !important;
}
.list-group .item
{
    margin-top: 20px;
}
.list-group .material-icons
{
    font-size: 15px;
    color: rgb(162, 92, 228);
}
.sub-menu
{
    list-style-type: none;
    margin-left: -38px;
}
.sub-menu a
{
    width: 200px;
    margin: 2px 0px 2px 0px;
    font-size: 14px !important;
}




.appframe .container
{
    margin: 30px;
    margin-right: 0px;
    margin-left: 10px;
    padding: 20px;
    border: 2px double #dfdfdf;
    border-radius: 10px;

    background-color: white;

    -webkit-box-shadow: 0px 0px 8px 0px #000000; 
    box-shadow: 0px 0px 8px 0px #000000;

    max-height: 520px;
    overflow: auto;
}


table thead tr
{
    text-transform: uppercase;
    color: #333;
    font-size: 11px;
}
table tbody td
{
    font-size: 14px !important;
}
.list-action a
{
    display: inline-table;
    width: 15px;
    font-size: 12px !important;
    border-radius: 2px;
    border: none;
}
.list-action .material-icons
{
    font-size: 12px;
    color: white;
    font-weight: bold;
}
.form-title
{
    padding: 3px 0px 3px 10px;
    background-color: #86b791;
    border-bottom: 1px solid #86b791;
    color: white;
    border-radius: 5px;
}

/*Modal CSS*/
.btn-exit-Modal
{

    border: 2px solid blueviolet !important;
    padding: 5px 10px 5px 10px !important;
    border-radius: 8px !important;
    font-size: 19px !important;
}






footer p 
{
    text-align: center;
}